 
 .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 0px solid blue;
  width: 400px;
  height: 45%;
  background-color: #ffffff;  
  border-radius: 10px;  
  box-shadow: 0 2px 10px rgba(31, 170, 201, 0.9);
 }

 .search__bar{
  height: 10px;
  padding: 10px;
  margin: 20px;
  border: 0px solid red;
  width: 45%;
  background-color: #d3ceb4;  
  border-radius: 5px; 
  box-shadow: 0 2px 10px rgba(13, 217, 23, 0.9);
 }

 .container__card{
  background-image: url("https://media.istockphoto.com/id/1304681590/photo/product-showcase-with-spotlight-black-studio-room-background-use-as-montage-for-product.webp?b=1&s=170667a&w=0&k=20&c=svZfr5ALV7Veu6RwCQNHThg6xori_recC94JEIJMbEk=");
  background-size: cover; 
  background-repeat: no-repeat;
  border: 0px solid;
  padding: 4px;
  width: 85%;
  background-color: #ffffff;  
  border-radius: 5px;  
  box-shadow: 0 2px 10px rgba(30, 154, 74, 0.9);
 }
 .container__title{
  display: flex;
  justify-content: center;
  margin: 3px;
 }

.location{
  margin-top: 4px;
  margin-bottom: 3px;
}

.card__weather{
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 4px;
}
.card__weather > p{
  margin-top: 6px;
  margin-bottom: 6px;
}

.card__weather > small{
  margin-top: 2px;
  margin-bottom: 2px;
}

.card__temperature{
  margin-top: 10px;
  margin-bottom: 20px;
}
 
.body{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
 
.btn{
  margin: 10px;
  border: 0px solid;
  width: 20%;
  height: 7%;
  background-color: #7359e4;  
  border-radius: 5px; 
  box-shadow: 0 2px 10px rgba(13, 217, 23, 0.9);
  cursor: pointer;
  
}
 
.container * {
    color: rgb(247, 226, 226);
    font-size: 15px;
}

.heading {
  display: flex;
  justify-content: center;
}
.heading >h1{
  color: green;
}